<style>
body {
    background-image: url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<div class = "row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class = "alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>
<div class="container-fluid">
	
		<div class="title" id="white">Welcome to BetterWay</div>
        <div class="subtitlte" id="white">Where We Do It Your Way</div>

  <div class="row">
    <div class="col-sm">
      <a href="/beverages"><img src="/images/aisleImages/beverages.jpg" alt="..." class="img-thumbnail"></a>
      <div class="tag" id="white">Beverages</div> 
    </div>

    <div class="col-sm">
      <a href="/breadandbakery"><img src="/images/aisleImages/breads.jpeg" alt="..." class="img-thumbnail"></a>
      <div class="tag" id="white">Breads and Bakery</div>    
    </div>

    <div class="col-sm">
      <a href="/dairy"><img src="/images/aisleImages/dairy.jpg" alt="..." class="img-thumbnail"></a>
      <div class="tag" id="white">Dairy</div>
    </div>

    <div class="col-sm">
      <a href="/fruits"><img src="/images/aisleImages/fruits.jpeg" alt="..." class="img-thumbnail"></a>
      <div class="tag" id="white">Fruits</div>
    </div>

    <div class="col-sm">
      <a href="/personalcare"><img src="/images/aisleImages/personalcare.jpg" alt="..." class="img-thumbnail"></a>
      <div class="tag" id="white">Personal Care</div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm">
        <a href="/grainandpastas"><img src="/images/aisleImages/pastas.jpeg" alt="..." class="img-thumbnail"></a>
        <div class="tag" id="white">Graind and Pastas</div>
      </div>

    <div class="col-sm">
        <a href="/snacks"><img src="/images/aisleImages/Cookies.jpeg" alt="..." class="img-thumbnail"></a>
        <div class="tag" id="white">Snacks</div>
      </div>

      <div class="col-sm">
        <a href="/cereal"><img src="/images/aisleImages/cereal.jpeg" alt="..." class="img-thumbnail"></a>
        <div class="tag" id="white">Cereal</div>
      </div>

      <div class="col-sm">
        <a href="/MeatandSeafood"><img src="/images/aisleImages/meat.jpeg" alt="..." class="img-thumbnail"></a>
        <div class="tag" id="white">Meat and Sea Food</div>
      </div>

      <div class="col-sm">
        <a href="/cannedgoodandsoups"><img src="/images/aisleImages/cannedgoods.jpg" alt="..." class="img-thumbnail"></a>
        <div class="tag" id="white">Canned Goods</div>
      </div>
  </div>

</div>
