<div class="container-fluid">
	<div class="jumbotron">
		<h1 class="display-3">Welcome to BetterWay</h1>
        <p>Where We Do It Your Way</p>
	</div>

  <div class="row">
    <div class="col-sm">
    <a href=""><img src="/images/aisleImages/Coffee.jpg" alt="..." class="img-thumbnail"></a>
    <p>Beverages</p>
      
    </div>
    <div class="col-sm">
    <a href=""><img src="/images/aisleImages/Baguette.jpeg" alt="..." class="img-thumbnail"></a>
    <p>Breads and Bakery</p>
     
    </div>
    <div class="col-sm">
    <a href="/fruits"><img src="/images/aisleImages/Apple.jpeg" alt="..." class="img-thumbnail"></a>
    <p>Fruits</p>
    </div>
  </div>

</div>
