<div class="container-fluid">
	<div class="jumbotron">
		<h1 class="display-3">Welcome to BetterWay</h1>
        <p>Where We Do It Your Way</p>
	</div>

  <div class="row">
    <div class="col-sm">
      <a href="/shop/beverages"><img src="/images/aisleImages/Coffee.jpg" alt="..." class="img-thumbnail"></a>
      <p>Beverages</p>    
    </div>

    <div class="col-sm">
      <a href="/shop/breadandbakery"><img src="/images/aisleImages/Baguette.jpeg" alt="..." class="img-thumbnail"></a>
      <p>Breads and Bakery</p>     
    </div>

    <div class="col-sm">
      <a href="/shop/dairy"><img src="/images/Dairy/Browneggs.jpeg" alt="..." class="img-thumbnail"></a>
      <p>Dairy</p>
    </div>

    <div class="col-sm">
      <a href="/shop/fruits"><img src="/images/aisleImages/Apple.jpeg" alt="..." class="img-thumbnail"></a>
      <p>Fruits</p>
    </div>

    <div class="col-sm">
      <a href="/shop/personalcare"><img src="/images/PersonalCare/Toothbrush.jpeg" alt="..." class="img-thumbnail"></a>
      <p>Personal Care</p>
    </div>

  </div>

</div>
