<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
/*    height: 300px;  Should be removed. Only for demonstration */

}

    body {
    font-family: Arial;
}

.coupon {
    border: 5px dotted #bbb;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
}

.container {
    padding: 2px 16px;
    background-color: #f1f1f1;
}

.promo {
    background: #ccc;
    padding: 3px;
}

.expire {
    color: red;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

</style>
</head>
<body>

<div class="row">
  <body>
    <div class="column" style="background-color:#FFF;">
      <div class="coupon">
        <img src="/images/Coupons/coupon1.png" alt="Avatar" style="width:100%;">
      </div>
    </div>
  </body>
    <div class="column" style="background-color:#FFF;">
      <div class="coupon">
        <img src="/images/Coupons/coupon2.png" alt="Avatar" style="width:100%;">
      </div>
    </div>
  </div>
</body>


</html> 

