
<div class = "row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    </div>
</div>
<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3">Welcome to BetterWay</h1>
        <p>Where We Do It Your Way</p>
  </div>

  <div class="row">
    <div class="col-sm">
      <a href="/freshraw"><img src="/images/greens/freshraw/brocolli.jpg" alt="..." class="img-thumbnail"></a>
      <p>Fresh(Raw and Cooking)</p>    
    </div>

    <div class="col-sm">
      <a href="/freshcooking"><img src="/images/greens/freshcooking/squash.jpg" alt="..." class="img-thumbnail"></a>
      <p>Fresh(Cooking)</p>    
    </div>



  </div>

  <div class="row">
    <div class="col-sm">
      <a href="/freshleafy"><img src="/images/greens/freshleafy/butterletuce.png" alt="..." class="img-thumbnail"></a>
      <p>Fresh(Leafy)</p>    
    </div>

    <div class="col-sm">
      <a href="/greenspecial"><img src="/images/greens/special/pizza.jpg" alt="..." class="img-thumbnail"></a>
      <p>Fresh(Raw and Cooking)</p>    
    </div>


  </div>