<style>
body {
    background-image: url(images/green.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>

    <div class="title">Welcome to BetterWay</div>
        <div class="subtitlte">Where We Do It Your Way</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <a href="/freshraw"><img src="/images/greens/freshraw/carrot.jpg" alt="..." class="img-thumbnail"></a>
          <div class="tag">Fresh(Raw and Cooking)</div>    
        </div>

        <div class="col-sm">
          <a href="/freshcooking"><img src="/images/greens/freshcooking/mushroom.jpg" alt="..." class="img-thumbnail"></a>
          <div class="tag">Fresh(Cooking)</div>    
        </div>

          <div class="col-sm">
            <a href="/freshleafy"><img src="/images/greens/freshleafy/romaine.jpg" alt="..." class="img-thumbnail"></a>
            <div class="tag">Fresh(Leafy)</div>    
          </div>

          <div class="col-sm">
            <a href="/greenspecial"><img src="/images/greens/special/pizza.jpg" alt="..." class="img-thumbnail"></a>
            <div class="tag">Special</div>    
          </div>

          <div class="col-sm">
            <a href="/Frozen"><img src="/images/greens/frozen/corn.jpeg" alt="..." class="img-thumbnail"></a>
            <div class="tag">Frozen</div>    
          </div>

      </div>

    </div>
    <div class="pagedef">
      <div class="greendef">Our farm
        <div class="greentext">-Where We grow our products with care and love.</div>
      </div>
    </div>
