<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/aisles">BetterWay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/aisles/">Aisles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shopping-cart/">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
          <span class = "badge"> {{session.cart.totalQty}}</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i>
          User
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <!-- Checks to see if the user is signed in, if they are then show
          the profile and logout functionality. If not, then show the sign up
          sign in functionality. -->
          {{# if login }}
            <a class="dropdown-item" href="/user/profile">Account</a>
            <a class="dropdown-item" href="/user/logout">Logout</a>
            {{ else }}
            <a class="dropdown-item" href="/user/signup">Sign up</a>
            <a class="dropdown-item" href="/user/signin">Sign in</a>
          {{/if}}
          <!-- not sure if needed, can add for more functionality
            basically just an extra navigation device
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
          -->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>