.header{
  font-size: 2.5em;
  color: #8B4513;
  text-align: left;
  margin-bottom: 0.25em;
  line-height: 1.4em;
}

.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.itemdiscount{
  width: 30%;
  float: left;
  padding: 15px;
  text-align: center;
}

.itemlist{
  width: 30%;
  float: left;
  padding: 15px;
  text-align: center;
}
