.navbar {
	border: none;
	background: $main-theme-color-tertiary;

	&-container {
		@include desktop {
			background: $main-light-color;
			border-right: 1px solid $border-color;
			box-sizing: border-box;
			width: 300px;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			overflow-y: auto;
			padding-bottom: $padding-large;
		}
		.nav, .navbar-default, ul, li, a, .navbar-default .navbar-nav > .active > a {
			background: none;
		}
		ul li {
			width: 100%;
			float: left;
			transition: all 300ms ease-in-out;
			border-bottom: 1px solid $border-color;

			&:first-child {
				border-top: 1px solid $border-color;
			}
			.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
			}
			a {
				font-size: 12px;
				text-transform: uppercase;
				display: inline-block;
				float: left;
				font-weight: 400;
				padding: $padding-base /2 0;
				transition: all 300ms ease-in-out;
				position: relative;
				overflow: hidden;
				width: 100%;

				.ti-minus, .ti-plus {
					float: right;
					margin-right: $margin-base;
					margin-top: ceil($margin-base / 3);
				}
				.ti-plus {
					display: none;
					opacity: 1;
				}
				&.collapsed .ti-plus {
					display: inline-block;
					opacity: 1;
				}
				&.collapsed .ti-minus {
					display: none;
					opacity: 0;
				}
				&:hover {
					background: $border-color !important;
				}
			}
			ul li {
				border: none;

				&:last-child {
					border: none;
				}
				a {
					text-transform: none;
				}
			}
		}
		.navbar-laguages {
			text-align: center;

			& > li {
				display: inline-block;
				width: auto !important;
				float: none;
				border: none;

				&:first-child {
					border-top: none;
				}
				a {
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
	}
	&-header {
		img {
			max-width: 300px;
			margin-left: auto;
			margin-right: auto; 
		}
		.navbar-toggle {
			width: 100%;
			float: left;
			border:none;
			font-weight: 700;

		}
	}
	&-header-title {
		display: inline-block;
		font-weight: 700;
		font-size: 22px;
		letter-spacing: 5px;
		text-transform: uppercase;
		width: 100%;

		span {
			display: inline-block;
			letter-spacing: 1px;
			width: 100%;
		}
	}
	&-user {
		margin-top: $margin-medium;

		li {
			width: 33.33333% !important;
			float: left;
			text-align: center;
			border: none !important;

			&:first-child {
				border: none !important;
			}
			span {
				position: relative;

				&:hover {
					cursor: pointer
				}
			}
		}
		&-counter {
			background: $main-light-color;
			border: 1px solid $main-dark-color;
			border-radius: 50%;
			color: $main-dark-color;
			display: inline-block;
			font-family: $main-font;
			font-size: 9px;
			font-weight: 300;
			height: 17px;
			line-height: 16px;
			position: absolute !important;
			right: -2px;
			top: -7px;
			width: 17px;
		}
	}
}