.timeline {
    padding: 0 $padding-medium;

    @include desktop {
        padding: 0 $padding-large;
    }

    &-list {
        list-style: none;
        padding: $padding-large * 2 0 $padding-large * 2;
        position: relative;

        &:before {
            top: 0;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 3px;
            background-color: $main-light-gray;
            left: 50%;
            margin-left: -1.5px;

            @include smartphone {
                left: 25px;
            }
        }
    }

    li {
        margin-bottom: 20px;
        position: relative;

        &:before,
        &:after {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
        }
    }

    &-item {
        width: 40%;
        float: left;
        border: 3px solid $main-light-gray;
        padding: 20px;
        position: relative;
        border-radius: $main-border-radius;

        @include smartphone {
            width: 80%;
            margin-left: 20%;
        }

        &:after {
            background: $main-light-gray none repeat scroll 0 0;
            content: "";
            height: 2px;
            position: absolute;
            right: -20%;
            top: 44px;
            width: 20%;

            @include smartphone {
                right: 100%;
            }
        }
    }

    &-title {
        margin: $margin-base 0 $margin-medium;
    }

    &-badge {
        color: $main-theme-color;
        border: 3px solid $main-light-gray;
        width: 90px;
        height: 90px;
        font-size: 40px;
        line-height: 90px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -45px;
        border-radius: 50%;
        background-color: $main-light-color;
        z-index: 100;

        @include tablet {
            width: 50px;
            height: 50px;
            line-height: 50px;
            margin-left: -25px;
            top: 20px;
            font-size: 25px;
        }

        @include smartphone {
            left: 0;
            width: 50px;
            height: 50px;
            line-height: 50px;
            margin-left: 0;
            top: 20px;
            font-size: 25px;
        }
    }

    &-date {
        position: relative;
        font-size: 80%;
    }

    &-inverted > .timeline-item {
        float: right;

        @include smartphone {
            float: left;
        }

        &:after {
            background: $main-light-gray none repeat scroll 0 0;
            content: "";
            height: 2px;
            position: absolute;
            left: -20%;
            top: 44px;
            width: 20%;
        }
    }

    p {
        color: $main-gray;
    }

}

.timeline-body > p + p {
    margin-top: 5px;
}